@{
    ViewData["Title"] = "Get to Know Joel";
}

<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br/>
<a href="https://baconsale.com/">Bacon scale</a>
<br/>
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale" style="max-width:300px;"/>
</a>